<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Poe.UIW.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Poe.UIW.Properties.UserSettings>
            <setting name="Session" serializeAs="String">
                <value>POESESSID=f1fd821495aee1b1630d4027ee16bbc7</value>
            </setting>
            <setting name="LeagueName" serializeAs="String">
                <value>Ancestor</value>
            </setting>
            <setting name="HideIfPoeUnfocused" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotificationPositionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotificationPositionLeft" serializeAs="String">
                <value>0</value>
            </setting>
        </Poe.UIW.Properties.UserSettings>
    </userSettings>
</configuration>