<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PoePepe.UI.Properties.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PoePepe.UI.Properties.UserSettings>
            <setting name="Session" serializeAs="String">
                <value />
            </setting>
            <setting name="LeagueName" serializeAs="String">
                <value>Standard</value>
            </setting>
            <setting name="HideIfPoeUnfocused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotificationPositionTop" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotificationPositionLeft" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LiveSearchSort" serializeAs="String">
                <value>NameAsc</value>
            </setting>
            <setting name="NotificationSoundPath" serializeAs="String">
                <value>Simple ping.mp3</value>
            </setting>
            <setting name="PlayNotificationSound" serializeAs="String">
                <value>False</value>
            </setting>
        </PoePepe.UI.Properties.UserSettings>
    </userSettings>
</configuration>